	<action class="com.redpill.esb.actions.log.ServiceLogAction" name="log-${1:name}">
		<property name="logReceiveBody" value="true"/>
		<property name="logSendBody" value="true"/>
		<property name="logLevel" value="@default.logLevel.back@"/>
	</action>
