	<!--Validate FIK Header -->
	<action class="se.folksam.fik.esb.actions.fikheader.ValidateFikHeaderAction" name="validate-fik-header">
		<property name="id" value="true"/>
		<property name="password" value="true"/>
		<!-- <property name="endUserId" value="true"/> -->
		<!-- <property name="endUserPassword" value="true"/> -->
	</action>
