	<action class="com.redpill.esb.actions.xml.JAXBTransformationAction" name="getCustomer-and-canonical-result-to-xml">
		<property name="mode" value="marshall"/>
		<property name="topLevelClassname" value="se.folksam.fik.kpa.interfaces.employment.processemploymentbenefit._1.Fik"/>
		<property name="contextPath" value="se.folksam.fik.kpa.interfaces.employment.processemploymentbenefit._1"/>
		<property name="default.namespace" value="http://folksam.se/fik/kpa/interfaces/employment/processEmploymentBenefit/1.0"/>
		<property name="customizedTopLevelNodeName" value="fik"/>
		<property name="rootElementExist" value="true"/>
	</action>
