	<!-- Stub by replacing payload with content of file   -->
	<action name="stub" class="com.redpill.esb.actions.payload.ReplacePayloadWithFileContentAction">
	<property name="fileLocation" value="/stubs/${1:file}"/>
	</action>
