Map<String, Object> actionConfigProperties = Maps.newHashMap();
actionConfigProperties.put("payloadLocation", Body.DEFAULT_LOCATION);
AnnotatedActionHelper.initializeAction(action, actionConfigProperties);

